node-red/beegl_server/beegl_server_flow.json
[{"id":"ad76fd65.00cdc","type":"tab","label":"Beegl Services","disabled":false,"info":""},{"id":"d07e62a0.4842d","type":"mqtt in","z":"ad76fd65.00cdc","name":"scale_sensors","topic":"scale_sensors","qos":"2","datatype":"auto","broker":"5f2b9995.d98268","x":75,"y":184.0000057220459,"wires":[["44a28574.6ba9dc"]]},{"id":"44a28574.6ba9dc","type":"json","z":"ad76fd65.00cdc","name":"Measurement data","property":"payload","action":"","pretty":true,"x":286.0195770263672,"y":183.00000667572021,"wires":[["bab4c028.0d83a","b42730ee.7e92a"]]},{"id":"d95b909b.351ed","type":"http in","z":"ad76fd65.00cdc","name":"","url":"beegl/v1/devices","method":"get","upload":false,"swaggerDoc":"","x":105,"y":618.0000591278076,"wires":[["3e8340ac.15fad"]]},{"id":"cf4e7aa5.9ef488","type":"http response","z":"ad76fd65.00cdc","name":"","statusCode":"","headers":{},"x":1200.0196418762207,"y":622.0001602172852,"wires":[]},{"id":"8ffff334.44247","type":"http in","z":"ad76fd65.00cdc","name":"","url":"beegl/v1/devices/:id","method":"post","upload":false,"swaggerDoc":"","x":115,"y":718.0000591278076,"wires":[["eeb7df5c.1e358"]]},{"id":"eeb7df5c.1e358","type":"function","z":"ad76fd65.00cdc","name":"Update/insert device payload","func":"var payload = []\ntry\n{\n    if(typeof msg.payload.id==='undefined' ||msg.payload.id!=msg.req.params.id)\n    {\n        throw (\"invalidArgument\");\n    }\n} catch (e) {\n    node.error(e,msg);\n    return;\n}\n\npayload[0] = {id:msg.req.params.id}\npayload[1] = {$set: msg.payload}\npayload[2] = {upsert:true}\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":469.0195541381836,"y":720.9999866485596,"wires":[["d122e801.fd59a8"]]},{"id":"a158ff80.806de","type":"http response","z":"ad76fd65.00cdc","name":"","statusCode":"","headers":{},"x":1203.0196380615234,"y":718.0000410079956,"wires":[]},{"id":"a9e04dcc.74b54","type":"http in","z":"ad76fd65.00cdc","name":"","url":"beegl/v1/devices/:id","method":"delete","upload":false,"swaggerDoc":"","x":125,"y":818.0000591278076,"wires":[["fdee97ce.580c38"]]},{"id":"552298bb.df3a68","type":"http response","z":"ad76fd65.00cdc","name":"","statusCode":"","headers":{},"x":1850.0195808410645,"y":824.0002069473267,"wires":[]},{"id":"b770dc97.ad7e4","type":"ui_chart","z":"ad76fd65.00cdc","name":"","group":"d05623d5.d90e9","order":2,"width":0,"height":0,"label":"Past 5 days max weight chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1487.0195693969727,"y":1182.0000286102295,"wires":[[]]},{"id":"2710fd8b.5e8042","type":"function","z":"ad76fd65.00cdc","name":"Process measurements","func":"\nvar devices = [];\nObject.keys(msg.payload).forEach(function(key)\n{\n    var payload = msg.payload[key];\n    var id = payload.deviceId;\n    var timestamp = new Date(payload.time);\n    if(!isNaN(timestamp)) {\n        var dateFraction = timestamp.getFullYear()+\"-\"+(timestamp.getMonth()+1)+\"-\"+timestamp.getDate();\n        var device;\n        for(j=0;j<devices.length;j++)\n        {\n            if(devices[j].id == id)\n            {\n                device = devices[j];\n                break;\n            }\n        }\n        if(device===undefined)\n        {\n            device = { \"id\" : id, measurementsPerDay:[] };\n            devices.push(device);\n        }\n        \n        var measurementsPerDate = device.measurementsPerDay;\n        \n        var measurementPerDate;\n        for(j=0;j<measurementsPerDate.length;j++)\n        {\n            if(measurementsPerDate[j].date==dateFraction)\n            {\n                measurementPerDate = measurementsPerDate[j];\n               \n                break;\n            }\n        }\n        if(measurementPerDate===undefined)\n        {\n            measurementPerDate = { \"date\" : dateFraction, \"measurements\":[] };\n            measurementsPerDate.push(measurementPerDate);\n            \n        }\n        \n        var k=0;\n        if(device.previousMeasurement!==undefined)\n        {\n            var prevTimestamp= new Date(device.previousMeasurement.time);\n            var timeDiff = timestamp-prevTimestamp;\n            var valDiff = Math.abs(payload.weight - device.previousMeasurement.weight);\n            k = valDiff/timeDiff; \n\n        }\n        // 1kg/hour = 1000g/36000000ms\n        if(k<0.000277)\n        {\n            measurementPerDate.measurements.push(payload.weight);\n        }\n        \n        device.previousMeasurement = payload;\n        \n    }\n});\n\ndevices.forEach(function(device, index,array) {\n   device.measurementsPerDay.forEach(function(measurementPerDay, index1, array1) {\n       measurementPerDay.last = measurementPerDay.measurements[measurementPerDay.measurements.length-1];\n       measurementPerDay.max = Math.max(...measurementPerDay.measurements);\n       if(index1>0)\n       {\n            measurementPerDay.diff = measurementPerDay.last - device.measurementsPerDay[index1-1].last;\n       } else {\n           measurementPerDay.diff = 0;\n       }\n   }); \n});\nmsg.payload = devices.sort(function(a,b) {\n    if ( a.id < b.id ){\n        return -1;\n    }\n    if ( a.id > b.id ){\n        return 1;\n    }\n    return 0;\n});\nreturn msg;","outputs":1,"noerr":0,"x":941.0196380615234,"y":1255.0000286102295,"wires":[["c3dac0a7.b1784","c62fa846.059ec8"]]},{"id":"c3dac0a7.b1784","type":"function","z":"ad76fd65.00cdc","name":"","func":"var tmpMsg = { payload: [{\n    \"series\": [ ],\n    \"data\": [ ],\n    \"labels\": []\n}] }\n\nfor(k=0;k<msg.payload.length;k++)\n{\n    var device = msg.payload[k];\n    tmpMsg.payload[0].series.push(device.id);\n    for(i=0;i<device.measurementsPerDay.length;i++)\n    {\n        \n        var measurementPerDay = device.measurementsPerDay[i];\n        if(typeof measurementPerDay!=='undefined') {\n            if(!tmpMsg.payload[0].labels.includes(measurementPerDay.date))\n            {\n                \n                tmpMsg.payload[0].labels.push(measurementPerDay.date);\n            }\n        }\n    }\n}\n\ntmpMsg.payload[0].labels.sort(function(a,b){\n  // Turn your strings into dates, and then subtract them\n  // to get a value that is either negative, positive, or zero.\n  return new Date(b.date) - new Date(a.date);\n});\n\ntmpMsg.payload[0].series.forEach(function(id, index2, array2){\n    tmpMsg.payload[0].data[index2] = [];\n});\ntmpMsg.payload[0].labels.forEach(function(date, index1, array1){\n    if(date === undefined) { return;}\n    tmpMsg.payload[0].series.forEach(function(id, index2, array2){\n        var fdevices = msg.payload.filter(function(device, index3, array3){\n            return device.id == id; \n        });\n         \n        if(fdevices.length===0) { \n            return;\n        }\n        \n          var fmeasurements = fdevices[0].measurementsPerDay.filter(function(measurement, index4, array4) {\n            if(measurement!==undefined) {\n                return measurement.date == date;\n            } else {\n                return false;\n            }\n        });\n       \n         if(fmeasurements.length===0) {\n            tmpMsg.payload[0].data[index2][index1] = null;\n            return;\n        } \n        var measurementPerDay = fmeasurements[0];\n        var value = measurementPerDay.last;\n        tmpMsg.payload[0].data[index2][index1] = value;\n    });\n});\n\nreturn tmpMsg;","outputs":1,"noerr":0,"x":1202.0195655822754,"y":1183.0000286102295,"wires":[["b770dc97.ad7e4"]]},{"id":"c62fa846.059ec8","type":"function","z":"ad76fd65.00cdc","name":"","func":"var tmpMsg = { payload: [{\n    \"series\": [ ],\n    \"data\": [],\n    \"labels\": []\n}] }\n\nfor(k=0;k<msg.payload.length;k++)\n{\n    var device = msg.payload[k];\n    tmpMsg.payload[0].series.push(device.id);\n    for(i=0;i<device.measurementsPerDay.length;i++)\n    {\n        var measurementPerDay = device.measurementsPerDay[i];\n        if(typeof measurementPerDay!=='undefined') {\n            if(!tmpMsg.payload[0].labels.includes(measurementPerDay.date))\n            {\n                tmpMsg.payload[0].labels.push(measurementPerDay.date);\n            }\n        }\n    }\n}\n\n\ntmpMsg.payload[0].labels.sort(function(a,b){\n  // Turn your strings into dates, and then subtract them\n  // to get a value that is either negative, positive, or zero.\n  return new Date(b.date) - new Date(a.date);\n});\n\n\nconsole.log(tmpMsg.payload[0].series);\nconsole.log(tmpMsg.payload[0].labels);\ntmpMsg.payload[0].series.forEach(function(id, index2, array2){\n    tmpMsg.payload[0].data[index2] = [];\n});\ntmpMsg.payload[0].labels.forEach(function(date, index1, array1){\n    if(date === undefined) { return;}\n    tmpMsg.payload[0].series.forEach(function(id, index2, array2){\n        \n        var fdevices = msg.payload.filter(function(device, index3, array3){\n           return device.id == id; \n        });\n        \n        if(fdevices.length===0) { \n            return;\n        }\n        \n          var fmeasurements = fdevices[0].measurementsPerDay.filter(function(measurement, index4, array4) {\n            if(measurement!==undefined) {\n                return measurement.date == date;\n            } else {\n                return false;\n            }\n        });\n        if(fmeasurements.length===0) {\n            tmpMsg.payload[0].data[index2][index1] = null;\n            return;\n        } \n        var measurementPerDay = fmeasurements[0];\n        var value = measurementPerDay.diff;\n        tmpMsg.payload[0].data[index2][index1] = value===null ? 0: value;\n    });\n});\n\nreturn tmpMsg;","outputs":1,"noerr":0,"x":1208.01957321167,"y":1295.0000085830688,"wires":[["fa22dbff.b540c8"]]},{"id":"fa22dbff.b540c8","type":"ui_chart","z":"ad76fd65.00cdc","name":"","group":"d05623d5.d90e9","order":3,"width":0,"height":0,"label":"Past 5 days diff weight chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1497.0195693969727,"y":1296.000033378601,"wires":[[]]},{"id":"7c630081.6077","type":"inject","z":"ad76fd65.00cdc","name":"Refresh every minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":1509.9999895095825,"wires":[["5a655c88.023ee4","94b2b660.90f108"]]},{"id":"d0a074ad.f33958","type":"ui_button","z":"ad76fd65.00cdc","name":"","group":"d05623d5.d90e9","order":1,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":65.0195541381836,"y":1318.9999933242798,"wires":[["5a655c88.023ee4","94b2b660.90f108"]]},{"id":"3979332c.3aa96c","type":"http in","z":"ad76fd65.00cdc","name":"","url":"/beegl/v1/devices/:id","method":"get","upload":false,"swaggerDoc":"","x":122.00003814697266,"y":970.0001173019409,"wires":[["bbcbe50e.ec3528"]]},{"id":"380db1a4.70f7ce","type":"http response","z":"ad76fd65.00cdc","name":"","statusCode":"","headers":{},"x":1200.0195655822754,"y":973.000189781189,"wires":[]},{"id":"5ceea8bb.d76658","type":"http in","z":"ad76fd65.00cdc","name":"","url":"beegl/v1/measurements","method":"post","upload":false,"swaggerDoc":"","x":135,"y":538.0000591278076,"wires":[["a3cc8917.59c708"]]},{"id":"b61849a6.40ad68","type":"http response","z":"ad76fd65.00cdc","name":"","statusCode":"","headers":{},"x":1055.0195541381836,"y":532.0000152587891,"wires":[]},{"id":"7b4d0723.fbd9c8","type":"change","z":"ad76fd65.00cdc","name":"Set response","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":799.0196304321289,"y":535.0000152587891,"wires":[["b61849a6.40ad68"]]},{"id":"268875d8.94334a","type":"mqtt in","z":"ad76fd65.00cdc","name":"measurements","topic":"measurements","qos":"2","broker":"5f2b9995.d98268","x":85,"y":279.99999809265137,"wires":[["44a28574.6ba9dc"]]},{"id":"b06d1bdb.a02268","type":"mongodb3 in","z":"ad76fd65.00cdc","service":"_ext_","configNode":"b782ae72.4724c","name":"Insert measurement","collection":"measurements","operation":"insertOne","x":1801.019889831543,"y":181.00392723083496,"wires":[[]]},{"id":"deec0890.336f78","type":"function","z":"ad76fd65.00cdc","name":"insertOne payload","func":"var measurement = {\n    \"time\": new Date(msg.payload.time),\n    \"deviceId\": msg.payload.id,\n    \"ver\" : msg.payload.ver\n}\nif(typeof msg.payload.whtS!=='undefined')\n{\n    measurement.weight = msg.payload.whtS.w;\n    measurement.weightUnit = msg.payload.whtS.u;\n}\n\nif(typeof msg.payload.tmpS!=='undefined')\n{\n    measurement.temperature = msg.payload.tmpS.t;\n    measurement.temperatureUnit = msg.payload.tmpS.u;\n}\n\nif(typeof msg.payload.humS!=='undefined')\n{\n    measurement.humidity = msg.payload.humS.h;\n    measurement.humidityUnit = msg.payload.humS.u;\n}\n\nmsg.payload = measurement;\n\nreturn msg;","outputs":1,"noerr":0,"x":1573.8912887573242,"y":180.01960563659668,"wires":[["b06d1bdb.a02268"]]},{"id":"77bc8033.038b9","type":"mongodb3 in","z":"ad76fd65.00cdc","service":"_ext_","configNode":"b782ae72.4724c","name":"Find device","collection":"devices","operation":"findOne","x":696.8869743347168,"y":58.64851188659668,"wires":[["ad77a4f3.67d838"]]},{"id":"bab4c028.0d83a","type":"function","z":"ad76fd65.00cdc","name":"Find device query","func":"\nmsg.payload = {\n   id : msg.payload.id\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":509.0196762084961,"y":59.00392723083496,"wires":[["77bc8033.038b9"]]},{"id":"6e49a947.14d648","type":"switch","z":"ad76fd65.00cdc","name":"","property":"device","propertyType":"global","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1195.8908042907715,"y":180.88287544250488,"wires":[["aabce374.6c98"],[]]},{"id":"ad77a4f3.67d838","type":"change","z":"ad76fd65.00cdc","name":"","rules":[{"t":"set","p":"device","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":882.8948287963867,"y":58.35939264297485,"wires":[["c195a96c.5fab88"]]},{"id":"b42730ee.7e92a","type":"change","z":"ad76fd65.00cdc","name":"","rules":[{"t":"set","p":"measurement","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":711.0196762084961,"y":180.00393438339233,"wires":[["c195a96c.5fab88"]]},{"id":"db8d2385.dfe91","type":"mqtt out","z":"ad76fd65.00cdc","name":"","topic":"measurements","qos":"","retain":"","broker":"5f2b9995.d98268","x":815.8946304321289,"y":456.17587661743164,"wires":[]},{"id":"e5de8515.0364a8","type":"http in","z":"ad76fd65.00cdc","name":"","url":"beegl/v1/measurements","method":"get","upload":false,"swaggerDoc":"","x":125,"y":375.0039119720459,"wires":[["d06f53dc.a9656"]]},{"id":"d06f53dc.a9656","type":"function","z":"ad76fd65.00cdc","name":"Find measurement query","func":"var payload = [];\nvar filter = {};\nvar options = {};\n\nvar pageNo = (msg.req.query.pageNo) ? parseInt(msg.req.query.pageNo) : 1;\nvar size = (msg.req.query.size)? parseInt(msg.req.query.size) : 100;\n\nif(pageNo < 0 || pageNo === 0) {\n    \n    node.error(\"invalidArgument\", msg);\n    return;\n}\nif(typeof msg.req.query.deviceId!=='undefined') {\n    filter.deviceId = msg.req.query.deviceId;\n}\nif(typeof msg.req.query.time!=='undefined') {\n    filter.time = new Date(msg.req.query.time);\n} \nif(typeof msg.req.query.timeFrom!=='undefined') {\n    if(typeof filter.time === 'undefined') {\n        filter.time = {};\n    }\n    filter.time.$gt = new Date(msg.req.query.timeFrom);\n}\nif(typeof msg.req.query.timeTo!=='undefined') {\n    if(typeof filter.time === 'undefined') {\n        filter.time = {};\n    }\n    filter.time.$lt = new Date(msg.req.query.timeTo);\n}\noptions.skip = size * (pageNo - 1);\noptions.limit = size;\noptions.sort = [];\noptions.sort.push (['time','ascending']);\npayload.push(filter);\npayload.push(options);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":457.01954650878906,"y":373.0039281845093,"wires":[["77626486.2feedc"]]},{"id":"77626486.2feedc","type":"mongodb3 in","z":"ad76fd65.00cdc","service":"_ext_","configNode":"b782ae72.4724c","name":"Find measurements for http","collection":"measurements","operation":"find.toArray","x":752.0195922851562,"y":373.00390625,"wires":[["70f680b2.bca3f"]]},{"id":"a6a7da03.aed5a8","type":"http response","z":"ad76fd65.00cdc","name":"","statusCode":"","headers":{},"x":1228.0195693969727,"y":374.00400829315186,"wires":[]},{"id":"d122e801.fd59a8","type":"mongodb3 in","z":"ad76fd65.00cdc","service":"_ext_","configNode":"b782ae72.4724c","name":"Update device for http","collection":"devices","operation":"updateOne","x":723.0196304321289,"y":721.0041103363037,"wires":[["54eda2e.5932f5c"]]},{"id":"c195a96c.5fab88","type":"join","z":"ad76fd65.00cdc","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1059.8829612731934,"y":179.80860710144043,"wires":[["6e49a947.14d648"]]},{"id":"aabce374.6c98","type":"change","z":"ad76fd65.00cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"measurement","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1368.8829612731934,"y":179.85942268371582,"wires":[["deec0890.336f78"]]},{"id":"3e8340ac.15fad","type":"function","z":"ad76fd65.00cdc","name":"Find devices query","func":"var payload = {}\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":453.00000762939453,"y":622.6667041778564,"wires":[["24472761.cd5628"]]},{"id":"24472761.cd5628","type":"mongodb3 in","z":"ad76fd65.00cdc","service":"_ext_","configNode":"b782ae72.4724c","name":"Find devices for http","collection":"devices","operation":"find.toArray","x":721.0000228881836,"y":624.6667051315308,"wires":[["ce552e22.a9f62"]]},{"id":"fdee97ce.580c38","type":"function","z":"ad76fd65.00cdc","name":"Delete device payload","func":"var payload = []\n\npayload[0] = {id:msg.req.params.id}\n\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":817.6666870117188,"wires":[["c1716c31.efef7"]]},{"id":"c1716c31.efef7","type":"mongodb3 in","z":"ad76fd65.00cdc","service":"_ext_","configNode":"b782ae72.4724c","name":"Remove device for http","collection":"devices","operation":"findOneAndDelete","x":595.0000534057617,"y":817.666690826416,"wires":[["3d9b9c7a.363a64"]]},{"id":"bbcbe50e.ec3528","type":"function","z":"ad76fd65.00cdc","name":"Find device query","func":"var payload = {id:msg.req.params.id}\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":443.00004959106445,"y":973.0000867843628,"wires":[["e70e6b3b.82b078"]]},{"id":"e70e6b3b.82b078","type":"mongodb3 in","z":"ad76fd65.00cdc","service":"_ext_","configNode":"b782ae72.4724c","name":"Find devices for http","collection":"devices","operation":"findOne","x":703.0000610351562,"y":972.0001859664917,"wires":[["ddb4bd25.d22e8"]]},{"id":"fec56944.02cce8","type":"mongodb3 in","z":"ad76fd65.00cdc","service":"_ext_","configNode":"b782ae72.4724c","name":"Find measurements","collection":"measurements","operation":"find.toArray","x":685.0001373291016,"y":1256.0002756118774,"wires":[["2710fd8b.5e8042"]]},{"id":"5a655c88.023ee4","type":"function","z":"ad76fd65.00cdc","name":"Find past 5 days measurement query","func":"var from = new Date();\nfrom.setDate(from.getDate()-5);\n\nvar payload ={\"time\" : { $gte : from }}\nmsg.payload= payload;\nreturn msg;","outputs":1,"noerr":0,"x":406.00000762939453,"y":1254.3333654403687,"wires":[["fec56944.02cce8"]]},{"id":"94b2b660.90f108","type":"function","z":"ad76fd65.00cdc","name":"Find past 24 hours measurements","func":"var from = new Date();\nfrom.setDate(from.getDate()-1);\n\nvar payload ={\"time\" : { $gte : from }}\nmsg.payload= payload;\nreturn msg;","outputs":1,"noerr":0,"x":391.00000762939453,"y":1426.0000371932983,"wires":[["ad9bf2c6.eb62e"]]},{"id":"ad9bf2c6.eb62e","type":"mongodb3 in","z":"ad76fd65.00cdc","service":"_ext_","configNode":"b782ae72.4724c","name":"Find measurements","collection":"measurements","operation":"find.toArray","x":689.0000152587891,"y":1426.0000371932983,"wires":[["2ddd92a.bb62c6e"]]},{"id":"72624e97.23cac","type":"ui_chart","z":"ad76fd65.00cdc","name":"","group":"3fe512b1.23748e","order":1,"width":0,"height":0,"label":"Weight chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"80000","removeOlder":"48","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1539.0000457763672,"y":1553.0003652572632,"wires":[[]]},{"id":"dcdebff5.2db29","type":"function","z":"ad76fd65.00cdc","name":"Extract weight","func":"var tmpMsg = { payload: [{\n    \"series\": [ ],\n    \"data\": [ ],\n    \"labels\": [\"\"]\n}] }\n\nvar series = tmpMsg.payload[0].series;\nvar data = tmpMsg.payload[0].data;\nmsg.payload.forEach(function(device) {\n    series.push(device.id);\n    values = []\n    device.measurements.forEach(function(measurement){\n        values.push({\n            x: measurement.timestamp,\n            y: measurement.weight\n            });\n    })\n    data.push(values);\n});\nreturn tmpMsg;\n\n","outputs":1,"noerr":0,"x":1266.0000305175781,"y":1552.0002436637878,"wires":[["72624e97.23cac"]]},{"id":"7a24cb9d.1ab384","type":"function","z":"ad76fd65.00cdc","name":"Extract temperature","func":"var tmpMsg = { payload: [{\n    \"series\": [ ],\n    \"data\": [ ],\n    \"labels\": [\"\"]\n}] }\n\nvar series = tmpMsg.payload[0].series;\nvar data = tmpMsg.payload[0].data;\nmsg.payload.forEach(function(device) {\n    series.push(device.id);\n    values = []\n    device.measurements.forEach(function(measurement){\n        values.push({\n            x: measurement.timestamp,\n            y: measurement.temperature\n            });\n    })\n    data.push(values);\n});\nreturn tmpMsg;\n","outputs":1,"noerr":0,"x":1256.0000305175781,"y":1420.0002393722534,"wires":[["997d587f.758188"]]},{"id":"997d587f.758188","type":"ui_chart","z":"ad76fd65.00cdc","name":"","group":"3fe512b1.23748e","order":2,"width":"0","height":"0","label":"Temperature chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1527.0000457763672,"y":1418.0002813339233,"wires":[[]]},{"id":"dbbc0071.f0083","type":"function","z":"ad76fd65.00cdc","name":"Extract humidity","func":"var tmpMsg = { payload: [{\n    \"series\": [ ],\n    \"data\": [ ],\n    \"labels\": [\"\"]\n}] }\n\nvar series = tmpMsg.payload[0].series;\nvar data = tmpMsg.payload[0].data;\nmsg.payload.forEach(function(device) {\n    series.push(device.id);\n    values = []\n    device.measurements.forEach(function(measurement){\n        values.push({\n            x: measurement.timestamp,\n            y: measurement.humidity\n            });\n    })\n    data.push(values);\n});\nreturn tmpMsg;\n","outputs":1,"noerr":0,"x":1264.0000305175781,"y":1480.0000791549683,"wires":[["4dbeb21f.b1d7cc"]]},{"id":"4dbeb21f.b1d7cc","type":"ui_chart","z":"ad76fd65.00cdc","name":"","group":"3fe512b1.23748e","order":3,"width":"0","height":"0","label":"Humidity chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1531.0000457763672,"y":1479.0002012252808,"wires":[[]]},{"id":"2ddd92a.bb62c6e","type":"function","z":"ad76fd65.00cdc","name":"Process measurements","func":"\nvar devices = [];\nObject.keys(msg.payload).forEach(function(key)\n{\n    var payload = msg.payload[key];\n    var id = payload.deviceId;\n    var timestamp = new Date(payload.time);\n    payload.timestamp = timestamp.getTime();\n    if(!isNaN(timestamp)) {\n        var device;\n        for(j=0;j<devices.length;j++)\n        {\n            if(devices[j].id == id)\n            {\n                device = devices[j];\n                break;\n            }\n        }\n        if(device===undefined)\n        {\n            device = { \"id\" : id, measurements:[] };\n            devices.push(device);\n        }\n        \n        device.measurements.push(payload);\n    }\n});\n\ndevices.forEach(function(device) {\n    measurementsSorted = device.measurements.sort(function (a, b) {\n    return a.timestamp - b.timestamp;\n});\n    device.measurements = measurementsSorted;\n})\n\nmsg.payload = devices.sort(function(a,b) {\n    if ( a.id < b.id ){\n        return -1;\n    }\n    if ( a.id > b.id ){\n        return 1;\n    }\n    return 0;\n});\nreturn msg;","outputs":1,"noerr":0,"x":946.0000305175781,"y":1427.3334169387817,"wires":[["7a24cb9d.1ab384","dcdebff5.2db29","dbbc0071.f0083"]]},{"id":"ddb4bd25.d22e8","type":"function","z":"ad76fd65.00cdc","name":"Process result","func":"if(typeof msg.payload === undefined || (Object.keys(msg.payload).length === 0))\n{\n    msg.statusCode=404;\n    msg.payload = undefined;\n    return msg;\n} else {\n    msg.statusCode=200;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":982.0235061645508,"y":969.0393304824829,"wires":[["380db1a4.70f7ce"]]},{"id":"ce552e22.a9f62","type":"function","z":"ad76fd65.00cdc","name":"Process result","func":"var payload = [];\nObject.keys(msg.payload).forEach(function(key)\n{\n    payload.push(msg.payload[key]);\n});\nmsg.payload = payload;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":960.0001068115234,"y":622.6667051315308,"wires":[["cf4e7aa5.9ef488"]]},{"id":"54eda2e.5932f5c","type":"function","z":"ad76fd65.00cdc","name":"Process result","func":"var payload = [];\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":961.0000228881836,"y":721.6667079925537,"wires":[["a158ff80.806de"]]},{"id":"7d8f0f6d.abaec","type":"catch","z":"ad76fd65.00cdc","name":"Http error handler","scope":["24472761.cd5628","e70e6b3b.82b078","77626486.2feedc","a3cc8917.59c708","c1716c31.efef7","d122e801.fd59a8","eeb7df5c.1e358"],"x":87.16667175292969,"y":1048,"wires":[["ef7faef9.6ae32"]]},{"id":"ee5dd92d.4a0248","type":"http response","z":"ad76fd65.00cdc","name":"","statusCode":"","headers":{},"x":550.0000915527344,"y":1049.000244140625,"wires":[]},{"id":"ef7faef9.6ae32","type":"function","z":"ad76fd65.00cdc","name":"Process result","func":"if(msg.error.message==\"invalidArgument\") {\n    msg.payload.error = \"Invalid argument.\";\n    msg.statusCode=405;\n} else {\n    msg.payload.error = msg.error.message;\n    msg.statusCode=500\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":330.00001525878906,"y":1049,"wires":[["ee5dd92d.4a0248"]]},{"id":"3d9b9c7a.363a64","type":"switch","z":"ad76fd65.00cdc","name":"Remove measurements","property":"req.query.removeMeasurements","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":858.0001907348633,"y":818.0000238418579,"wires":[["5844d429.9f814c"],["11137185.410fae"]]},{"id":"71a48d47.1008e4","type":"mongodb3 in","z":"ad76fd65.00cdc","service":"_ext_","configNode":"b782ae72.4724c","name":"Remove measurements","collection":"measurements","operation":"removeMany","x":1403.0000457763672,"y":769.0001239776611,"wires":[["11137185.410fae"]]},{"id":"5844d429.9f814c","type":"function","z":"ad76fd65.00cdc","name":"Find measurement query","func":"var payload = { }\nif(typeof msg.req.params.id!=='undefined') {\n    payload.deviceId = msg.req.params.id;\n}\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1121.0000381469727,"y":770.3333559036255,"wires":[["71a48d47.1008e4"]]},{"id":"70f680b2.bca3f","type":"function","z":"ad76fd65.00cdc","name":"Process result","func":"var payload = [];\nObject.keys(msg.payload).forEach(function(key)\n{\n    payload.push(msg.payload[key]);\n});\nmsg.payload = payload;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1016.0001068115234,"y":373.3333549499512,"wires":[["a6a7da03.aed5a8"]]},{"id":"a3cc8917.59c708","type":"function","z":"ad76fd65.00cdc","name":"Insert measurement payload","func":"var payload = { }\nif((typeof msg.payload.id==='undefined') && (typeof msg.payload.deviceId!=='undefined')) {\n    msg.payload.id = msg.payload.deviceId;\n}\n\nif((typeof msg.payload.id==='undefined') || (typeof msg.payload.time==='undefined')) {\n    node.error(\"invalidArgument\", msg);\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":456.00000762939453,"y":535.0000152587891,"wires":[["db8d2385.dfe91","7b4d0723.fbd9c8"]]},{"id":"11137185.410fae","type":"function","z":"ad76fd65.00cdc","name":"Set response","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1646.0000457763672,"y":824.0001258850098,"wires":[["552298bb.df3a68"]]},{"id":"5f2b9995.d98268","type":"mqtt-broker","z":"","name":"beegl-mqtt-broker","broker":"localhost","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d05623d5.d90e9","type":"ui_group","z":"","name":"Stat","tab":"dab29aa5.d01218","order":3,"disp":true,"width":"8","collapse":false},{"id":"b782ae72.4724c","type":"mongodb3","z":"","uri":"mongodb://localhost:27017/beegl","name":"beegl-mongodb","options":"","parallelism":"-1"},{"id":"3fe512b1.23748e","type":"ui_group","z":"","name":"Realtime","tab":"dab29aa5.d01218","order":1,"disp":true,"width":"8","collapse":true},{"id":"dab29aa5.d01218","type":"ui_tab","z":"","name":"Beehives","icon":"bar-chart","order":2,"disabled":false,"hidden":false}]